@model College.Models.Dean
@{
    ViewBag.Title = "Add dean";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<p>Step 2</p>
<div class="progress" style="width: 40%">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
</div>
<br />
<br />
@using (Html.BeginForm(actionName: "AddDean", controllerName: "College", method: FormMethod.Post))
{
    @Html.Label("Name", "Name: ")
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Name", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Email", "Email: ")
    <br />
    @Html.TextBoxFor(b => b.Email, null, new { placeholder = "Email", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Email, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Add</button>
}
