@model College.Models.Exam
@{
    ViewBag.Title = "Add exam";
}

<h2>@ViewBag.Title</h2>
<br />
<br />

@using (Html.BeginForm("AddExam", "College", new { id = Model.Faculty.FacultyId }, FormMethod.Post))
{
    @Html.Label("Subject", "Subject: ")
    <br />
    @Html.TextBoxFor(b => b.Subject, null, new { placeholder = "Subject", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Subject, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Date", "Date: ")
    <br />
    @Html.TextBoxFor(b => b.Date, null, new { placeholder = "Date", @class = "form-control", type = "date" })
    @Html.ValidationMessageFor(b => b.Date, "", new { @class = "text-danger" })
    <br />
    <br />
    <div style="display: flex; align-items: baseline; column-gap: 15px">
        @Html.Label("Type", "Type: ")
        <br />
        <div>
            <div class="radio">
                @Html.RadioButtonFor(b => b.Type, "Multiple Choice")
                Multiple Choice
            </div>
            <div class="radio">
                @Html.RadioButtonFor(b => b.Type, "Complete Answer")
                Complete Answer
            </div>
        </div>
        @Html.ValidationMessageFor(b => b.Type, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Add</button>
}   