@model College.Models.Student
@{
    ViewBag.Title = "Add details";
}

<h2>@ViewBag.Title</h2>
<br />
<br />

@using (Html.BeginForm(actionName: "AddStudent", controllerName: "College", method: FormMethod.Post))
{
    @Html.LabelFor(b => b.FacultiesList, "Choose faculties:")
    <br />
    for (int i = 0; i < Model.FacultiesList.Count(); i++)
    {
        @Html.HiddenFor(b => b.FacultiesList[i].Id)
        @Html.HiddenFor(b => b.FacultiesList[i].Name)
        @Html.CheckBoxFor(b => b.FacultiesList[i].Checked)
        @Html.DisplayFor(b => b.FacultiesList[i].Name)
        <br />
    }
    <br />
    @Html.Label("Name", "Name: ")
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Name", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Cnp", "CNP: ")
    <br />
    @Html.TextBoxFor(b => b.Cnp, null, new { placeholder = "Cnp", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Cnp, "", new { @class = "text-danger" })
    <br />
    <br />
    <div style="display: flex; align-items: baseline; column-gap: 15px">
        @Html.Label("Frequency", "Frequency: ")
        <br />
        <div>
            <div class="radio">
                @Html.RadioButtonFor(b => b.Frequency, "ID")
                ID
            </div>
            <div class="radio">
                @Html.RadioButtonFor(b => b.Frequency, "IF")
                IF
            </div>
        </div>
        @Html.ValidationMessageFor(b => b.Frequency, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />
    @Html.Label("Sat", "SAT grade: ")
    <br />
    @Html.TextBoxFor(b => b.Sat, null, new { placeholder = "SAT grade", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Sat, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Badge", "Badge number: ")
    <br />
    @Html.TextBoxFor(b => b.Badge, null, new { placeholder = "Badge number", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Badge, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Add</button>
}
