@model College.Models.Student
@{
    ViewBag.Title = "Add details";
}

<h2>@ViewBag.Title</h2>
<br />
<br />

@using (Html.BeginForm(actionName: "Apply", controllerName: "College", method: FormMethod.Post))
{
    @Html.Label("Faculty.FacultyId", "Select one faculty: ")
    <br />
    @Html.DropDownListFor(b => b.Faculty.FacultyId,
        new SelectList(Model.FacultiesList, "Value", "Text"), new { placeholder = "Faculty", @class = "formcontrol", @style = "padding: 10px" })
    @Html.ValidationMessageFor(b => b.Faculty.FacultyId, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Name", "Name: ")
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Name", @class = "formcontrol" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Cnp", "CNP: ")
    <br />
    @Html.TextBoxFor(b => b.Cnp, null, new { placeholder = "Cnp", @class = "formcontrol" })
    @Html.ValidationMessageFor(b => b.Cnp, "", new { @class = "text-danger" })
    <br />
    <br />
    <div style="display: flex; align-items: baseline; column-gap: 15px">
        @Html.Label("Frequency", "Frequency: ")
        <br />
        <div>
            <div class="radio">
                @Html.RadioButtonFor(b => b.Frequency, "ID")
                ID
            </div>
            <div class="radio">
                @Html.RadioButtonFor(b => b.Frequency, "IF")
                IF
            </div>
        </div>
        @Html.ValidationMessageFor(b => b.Frequency, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />
    @Html.Label("Sat", "SAT grade: ")
    <br />
    @Html.TextBoxFor(b => b.Sat, null, new { placeholder = "SAT grade", @class = "formcontrol" })
    @Html.ValidationMessageFor(b => b.Sat, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Badge", "Badge number: ")
    <br />
    @Html.TextBoxFor(b => b.Badge, null, new { placeholder = "Badge number", @class = "formcontrol" })
    @Html.ValidationMessageFor(b => b.Badge, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Add</button>
}
