
@{
    ViewBag.Title = "Candidates";
}

<h2>@ViewBag.Title</h2>

@foreach (var student in ViewBag.Students)
{
    <div class="panel-body">
        @Html.Label("Name", "Name")
        <br />
        <p>@student.Name</p>
        <br />
        @Html.Label("Frequency", "Frequency")
        <br />
        <p>@student.Frequency</p>
        <br />
        @Html.Label("Sat", "SAT grade")
        <br />
        <p>@student.Sat</p>
        @if (User.IsInRole("Admin"))
        {
            <br />
            @Html.Label("Email", "Email")
            <br />
            <p>@student.Email</p>
            <br />
            @Html.Label("Badge", "Badge number")
            <br />
            <p>@student.Badge</p>
        }
    </div>
}