
@{
    ViewBag.Title = "Candidates";
}

<h2>@ViewBag.Title</h2>

<br />
<br />
<br />
<br />
<table class="table table-hover table-responsive table-bordered" style="width: 70%">
    <thead>
        <tr>
            <th scope="col" class="col-md-1">#</th>
            <th scope="col" class="col-md-1">Name</th>
            <th scope="col" class="col-md-1">Frequency</th>
            <th scope="col" class="col-md-1">SAT</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col" class="col-md-1">Email</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <th scope="row">@student.Badge</th>
                <td>@student.Name</td>
                <td>@student.Frequency</td>
                <td>@student.Sat</td>
                @if (User.IsInRole("Admin"))
            {
                <td>@student.Email</td>
            }
            </tr>
        }
    </tbody>
</table>
<br />

<hr />
@Html.ActionLink("Back to the details of faculty", "Details", new { id = ViewBag.Faculty.FacultyId })
