@model College.Models.Faculty
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.Name</h3>

<div class="panel-body">
    @Html.Label("City", "City")
    <br />
    <p>@Model.City</p>
    <br />
    @Html.Label("Places", "Available places")
    <br />
    <p>@Model.Places</p>
    <br />
    @Html.Label("Description", "Description")
    <br />
    <p>@Model.Description</p>
    <br />

    @Html.ActionLink("Dean", "Dean", new { id = Model.Dean.DeanId })
    @Html.ActionLink("Candidates", "Candidates", new { id = Model.FacultyId })
    @Html.ActionLink("Exams", "Exams", new { id = Model.FacultyId })
    @Html.ActionLink("Teachers", "Teachers", new { id = Model.FacultyId })


    <div class="panel-body">
        @if (User.IsInRole("Admin"))
        {
            using (Html.BeginForm(actionName: "EditFaculty", controllerName: "College", method: FormMethod.Get, routeValues: new { id = Model.FacultyId }))
            {
                <button class="btn btn-primary">Edit details</button>
            }
            <br />
        }
    </div>
</div>

@Html.ActionLink("Back to the list of faculties", "Faculties")

