@model College.Models.Exam
@{
    ViewBag.Title = "Exam Details";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.Subject</h3>

<div class="panel-body">

    @Html.Label("Date", "Date")
    <br />
    <p>@Model.Date</p>
    <br />

    @Html.Label("Type", "Type")
    <br />
    <p>@Model.Type</p>
    <br />

    <div class="panel-body">
        @if (User.IsInRole("Admin"))
        {
            using (Html.BeginForm(actionName: "EditExam", controllerName: "College", method: FormMethod.Get, routeValues: new { id = Model.ExamId }))
            {
                <button class="btn btn-primary">Edit details</button>
            }
            <br />
        }
        @Html.ActionLink("Back to the list of exams", "Exams", new { id = Model.Faculty.FacultyId })
    </div>
</div>

