
@{
    ViewBag.Title = "Faculties";
}

<h2>@ViewBag.Title</h2>

@foreach (var faculty in ViewBag.Faculties)
{
    <div class="panel-body">
        @Html.Label("Name", "Name")
        <br />
        <p>@faculty.Name</p>
        <br />
        @using (Html.BeginForm(actionName: "Details", controllerName: "College", method: FormMethod.Get, routeValues: new { id = faculty.FacultyId }))
        {
            <button class="btn btn-primary">Details</button>
        }
        <br />
    </div>
}
<div class="panel-body">
    <br />
    @if (ViewBag.Role == "User" && ViewBag.AllowApply == true)
    {
        @Html.ActionLink("Apply", "AddStudent")
    }
    else if (ViewBag.Role == "User" && ViewBag.AllowApply == false)
    {
        using (Html.BeginForm(actionName: "EditStudent", controllerName: "College", method: FormMethod.Get, routeValues: new { id = ViewBag.StudentId }))
        {
            <button class="btn btn-primary">Edit your profile</button>
        }
        <br />
    }
    else if (ViewBag.Role == "Admin")
    {
        @Html.ActionLink("Add faculty", "AddFaculty")
    }
</div>
