
@{
    ViewBag.Title = "Faculties";
}

<h2>@ViewBag.Title</h2>

@foreach (var faculty in ViewBag.Faculties)
{
    <div class="panel-body">
        @Html.Label("Name", "Name")
        <br />
        <p>@faculty.Name</p>
        <br />
        @using (Html.BeginForm(actionName: "Details", controllerName: "College", method: FormMethod.Get, routeValues: new { id = faculty.FacultyId }))
        {
            <button class="btn btn-primary">Details</button>
        }
        <br />
    </div>
}
<div class="panel-body">
    <br />
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Want to apply? Sign up first!", "Register", "Account")
    }
    else if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add faculty", "AddFaculty")
    }
</div>
