@model College.Models.Teacher
@{
    ViewBag.Title = "Teacher Details";
}


<h2>@ViewBag.Title</h2>

<h3>@Model.Name</h3>

<div class="panel-body">

    @Html.Label("Subject", "Subject")
    <br />
    <p>@Model.Subject</p>
    <br />

    @Html.Label("Email", "Email")
    <br />
    <p>@Model.Email</p>
    <br />

    @if (User.IsInRole("Admin"))
    {
        <div style="display: flex; column-gap: 5px">
            @using (Html.BeginForm(actionName: "EditTeacher", controllerName: "College", method: FormMethod.Get, routeValues: new { id = Model.TeacherId }))
            {
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit">
                    <span style="margin-top: 1px" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            }
            <br />
            @using (Html.BeginForm(actionName: "DeleteTeacher", controllerName: "College", method: FormMethod.Get, routeValues: new { id = Model.TeacherId }))
            {
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Delete">
                    <span style="margin-top: 1px" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            }
            <br />
        </div>
    }
</div>

<hr />
@Html.ActionLink("Back to the list of teachers", "Teachers", new { id = Model.Faculty.FacultyId })
