@model College.Models.Exam
@{
    ViewBag.Title = "Edit exam";
}


<div style="display: flex; flex-direction: column; align-items: center">
    <h2>@ViewBag.Title</h2>
    <br />
    <br />

    <div class="panel panel-info" style="background-color: #d9edf7; width: 50%">
        <h3 class="panel-heading text-center">@Model.Subject</h3>
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Exam", method: FormMethod.Post))
        {
            <div class="form-horizontal panel-body">

                @Html.HiddenFor(x => x.ExamId)

                <div class="form-group">
                    @Html.LabelFor(x => x.Subject, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(b => b.Subject, null, new { placeholder = "Subject", @class = "formcontrol" })
                        @Html.ValidationMessageFor(b => b.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Date, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(b => b.Date, null, new { placeholder = "Date", @class = "formcontrol", type = "date" })
                        @Html.ValidationMessageFor(b => b.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Type, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="radio">
                            @Html.RadioButtonFor(b => b.Type, "Multiple Choice")
                            Multiple Choice
                        </div>
                        <div class="radio">
                            @Html.RadioButtonFor(b => b.Type, "Complete Answer")
                            Complete Answer
                        </div>
                        @Html.ValidationMessageFor(b => b.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group text-center" style="margin-right: 10%">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>