@model College.Models.Faculty
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.Name</h3>

<div class="panel-body">
    @Html.Label("City", "City")
    <br />
    <p>@Model.City</p>
    <br />
    @Html.Label("Places", "Available places")
    <br />
    <p>@Model.Places</p>
    <br />
    @Html.Label("Description", "Description")
    <br />
    <p>@Model.Description</p>
    <br />
    <br />

    @if (User.IsInRole("Admin"))
    {
        <div style="display: flex; column-gap: 5px">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Faculty", method: FormMethod.Get, routeValues: new { id = Model.FacultyId }))
            {
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit">
                    <span style="margin-top: 1px" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            }
            <br />
            @if (Model.Students.Count == 0)
            {
                using (Html.BeginForm(actionName: "Delete", controllerName: "Faculty", method: FormMethod.Get, routeValues: new { id = Model.FacultyId }))
                {
                    <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Delete">
                        <span style="margin-top: 1px" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                }
                <br />
            }
            else
            {
                <button class="btn btn-primary" disabled data-toggle="tooltip" data-placement="top" title="You can't delete this faculty! There are students who applied here.">
                    <span style="margin-top: 1px" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            }
        </div>
    }
    <br />
    <br />

    <table class="table table-hover table-responsive table-bordered" style="width: 30%">
        <thead class="row">
            <tr>
                <th scope="col" class="col-md-3">#</th>
                <th scope="col" class="col-md-3">More details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Html.ActionLink("Dean", "Index", "Dean", new { id = Model.Dean.DeanId }, null)</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Html.ActionLink("Candidates", "Index", "Student", new { id = Model.FacultyId }, null)</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@Html.ActionLink("Exams", "Index", "Exam", new { id = Model.FacultyId }, null)</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Html.ActionLink("Teachers", "Index", "Teacher", new { id = Model.FacultyId }, null)</td>
            </tr>
        </tbody>
    </table>
    <br />
</div>

<hr />
@Html.ActionLink("Back to the list of faculties", "Index", "Faculty")

