
@{
    ViewBag.Title = "Faculties";
}

<h2>@ViewBag.Title</h2>

<br />
<br />
<br />
<br />
<table class="table table-hover table-responsive table-bordered" style="width: 70%">
    <thead>
        <tr>
            <th scope="col" class="col-md-1">Name</th>
            <th scope="col" class="col-md-1">Location</th>
            <th scope="col" class="col-md-1">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var faculty in ViewBag.Faculties)
        {
            <tr>
                <th scope="row">@faculty.Name</th>
                <td>@faculty.City</td>
                <td>@Html.ActionLink("Details", "Details", "Faculty", new { id = faculty.FacultyId }, FormMethod.Get)</td>
            </tr>
        }
    </tbody>
</table>
<br />
@if (!User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Want to apply? Sign up first!", "Register", "Account")
}
else if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add faculty", "New", "Faculty")
}
else if (ViewBag.Apply == null)
{
    @Html.ActionLink("Apply", "New", "Student")
}
