@model College.Models.FacultyDean
@{
    ViewBag.Title = "Add details";
}

<h2>@ViewBag.Title</h2>

<br />
<br />
@using (Html.BeginForm(actionName: "New", controllerName: "Faculty", method: FormMethod.Post))
{
    <p>Faculty details: </p>
    <br />
    @Html.Label("Name", "Name: ")
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Enter the name of the faculty", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />
    @Html.Label("City", "City: ")
    <br />
    @Html.TextBoxFor(b => b.City, null, new { placeholder = "Enter the city of the faculty", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.City, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Description: ")
    <br />
    @Html.TextArea("Description", null, new { placeholder = "Describe the faculty", @class = "form-control", @rows = "10" })
    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Places", "Places: ")
    <br />
    @Html.TextBoxFor(b => b.Places, null, new { placeholder = "Enter the number of the places", @class = "form-control", @type = "number" })
    @Html.ValidationMessageFor(b => b.Places, "", new { @class = "text-danger" })
    <br />
    <p>Dean details: </p>
    <br />
    @Html.Label("DeanName", "Name: ")
    <br />
    @Html.TextBoxFor(b => b.DeanName, null, new { placeholder = "Enter the name of the dean", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.DeanName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Email", "Email: ")
    <br />
    @Html.TextBoxFor(b => b.Email, null, new { placeholder = "Enter the email", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Email, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Add</button>
}