
@{
    ViewBag.Title = "Dean";
}

<h2>Dean</h2>

<div class="panel-body">
    @Html.Label("Name", "Name")
    <br />
    <p>@ViewBag.Dean.Name</p>
    <br />
    @Html.Label("Email", "Email")
    <br />
    <p>@ViewBag.Dean.Email</p>
    <br />

    @if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm(actionName: "Edit", controllerName: "Dean", method: FormMethod.Get, routeValues: new { id = ViewBag.Dean.DeanId }))
        {
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit">
                <span style="margin-top: 1px" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        }
        <br />
    }
</div>

<hr />
@Html.ActionLink("Back to the details of faculty", "Details", "Faculty", new { id = ViewBag.Dean.Faculty.FacultyId }, null)
