
@{
    ViewBag.Title = "Teachers";
}

<h2>@ViewBag.Title</h2>

<br />
<br />
<br />
<br />
<table class="table table-hover table-responsive table-bordered" style="width: 35%">
    <thead>
        <tr>
            <th scope="col" class="col-md-1">Name</th>
            <th scope="col" class="col-md-1">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in ViewBag.Teachers)
        {
            <tr>
                <th scope="row">@teacher.Name</th>
                <td>@Html.ActionLink("Details", "Details", "Teacher", new { id = teacher.TeacherId }, FormMethod.Get)</td>
            </tr>
        }
    </tbody>
</table>
<br />

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add teacher", "New", "Teacher", new { id = ViewBag.Faculty.FacultyId }, null)
}

<hr />
@Html.ActionLink("Back to the details of faculty", "Details", "Faculty", new { id = ViewBag.Faculty.FacultyId }, null)
