@model College.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
        <dd>
            @if (User.IsInRole("User") && ViewBag.hasProfile)
            {
                <dt>Profile:</dt>
                <dd>
                    @Html.ActionLink("See your profile", "Details", "Student", new { id = ViewBag.StudentId }, FormMethod.Get)
                    <br />
                    @Html.ActionLink("Edit your application", "Edit", "Student", new { id = ViewBag.StudentId }, FormMethod.Get)
                    <br />
                    @Html.ActionLink("Delete your application", "Delete", "Student", new { id = ViewBag.StudentId }, FormMethod.Get)
                </dd>
            }
        </dl>
</div>
