@model College.Models.Student
@{
    ViewBag.Title = "Edit your profile";
}

<div style="display: flex; flex-direction: column; align-items: center">
    <h2>@ViewBag.Title</h2>
    <br />
    <br />

    <div class="panel panel-info" style="background-color: #d9edf7; width: 50%">
        <h3 class="panel-heading text-center">@Model.Name</h3>
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Student", method: FormMethod.Post))
        {
            <div class="form-horizontal panel-body">

                @Html.HiddenFor(x => x.StudentId)

                <div class="form-group" style="margin-left: 10%">
                    @Html.LabelFor(x => x.Name, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Name", @class = "formcontrol" })
                        @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-left: 10%">
                    @Html.LabelFor(x => x.Cnp, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(b => b.Cnp, null, new { placeholder = "CNP", @class = "formcontrol" })
                        @Html.ValidationMessageFor(b => b.Cnp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-left: 15%">
                    @Html.LabelFor(x => x.Frequency, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="radio">
                            @Html.RadioButtonFor(b => b.Frequency, "ID")
                            ID
                        </div>
                        <div class="radio">
                            @Html.RadioButtonFor(b => b.Frequency, "IF")
                            IF
                        </div>
                        @Html.ValidationMessageFor(b => b.Frequency, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-left: 10%">
                    @Html.LabelFor(x => x.Badge, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(b => b.Badge, null, new { placeholder = "Badge", @class = "formcontrol" })
                        @Html.ValidationMessageFor(b => b.Badge, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-left: 10%">
                    @Html.LabelFor(x => x.Sat, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(b => b.Sat, null, new { placeholder = "SAT", @class = "formcontrol" })
                        @Html.ValidationMessageFor(b => b.Sat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group text-center" style="margin-right: 10%">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>